/* Common rules */

html {
    height: 100%;
}

body, h1, h2, h3, p, div, nav, ul, input, button {
    margin: 0;
    padding: 0;
    border: none;
    font-family: sans-serif;
}

h1, h2, h3 {
    text-align: center;
}

a {
    color: #2124bb;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

body {
    color: #1a1a1a;
    height: 100%;
    min-width: 830px;
}

.container {
    min-height: 100%;
    position: relative;
}

.ctaWrapper {
    display: inline-block;
    text-align: center;
    margin: 15px 20px 5px 5px;
    width: 100%;
}

#index .ctaWrapper {
    width: auto;
}

a.cta, a.cta:hover, a.cta:active, a.cta:visited {
    color: #1a1a1a;
    text-decoration: none;
}

.cta { 
    min-width: 100px;
    display: inline-block;
    border-radius: 5px;
    padding: 10px;
    margin: 15px 20px 0 0;
    text-transform: uppercase;
    color: #fff7f7 !important;
    box-shadow: 2px 2px 5px 0 #000;
    cursor: pointer;
}

.cta.blue {
    background-color: #0f1056;
}

.cta.green {
    background-color: #3ba711;
}

/* Rules for header, footer, and content div */

header, footer {
    box-sizing: border-box;
}

header {
    background-color: #c1b924;
    padding: 5px 20px;
    border-radius: 15px;
    height: 80px;
    min-width: 600px;
    width: 100%;
}

nav {
    float: right;
    margin: 10px 0;
}

nav ul li {
    display: inline-block;
    margin: 0 5px;
}

nav ul li.loggedIn {
    display: none;
}

nav li a {
    text-transform: uppercase;
    font-weight: bold;
    color: #0f1056;
    line-height: 50px;
    font-size: 16px;
}

nav li a:visited {
    color: #0f1056;
}

nav li a:hover, nav li a:active {
    text-decoration: underline;
}

.logo {
    display: inline-block;
    margin: 5px;
}

.logo img {
    width: 60px;
    height: 60px;
}

.content {
    padding-bottom: 50px;
}

footer {
    background-color: #85d285;
    border-radius: 10px;
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    text-align: center;
    font-size: 14px;
    line-height: 50px;
}

.content h1 {
    margin: 15px 0 5px 0;
    font-size: 25px;
}

.content h2 {
    margin: 10px 0 5px 0;
    font-size: 17px;
}

.content h3 {
    margin: 7px 0 4px 0;
    font-size: 15px;
}

/* Index */

#index .content .description {
    padding: 10px;
    background-color: #c8d2e4;
    border-radius: 10px;
    width: 500px;
    margin: 50px auto;
    text-align: center;
    box-shadow: 5px 5px 20px 0px #000;
}

/* Forms */

.formError {
    display: none;
    background-color: #ff2323;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

.formSuccess {
    display: none;
    background-color: #5de60e;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

.formWrapper {
    margin: 20px auto;
    width: 500px;
    background-color: #16cae4;
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow: 5px 5px 30px 0 #000;
}
.warning {
    background-color: #dc3939;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 3px 3px 10px 0 #000;
}

.inputWrapper {
    margin: 10px 0;
}

.inputLabel {
    font-size: 16px;
    display: inline-block;
    width: 150px;
}

input {
    width: 330px;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 7px;
    box-sizing: border-box;
}

input.disabled {
    background-color: #ecd7d7;
}

/* Menu */

#menuItems {
    margin: 10px;
    background-color: #ecdcdc;
    padding: 10px;
    border-radius: 10px;
}

.menuItem {
    margin: 10px;
    background-color: #d8b4b4;
    padding: 10px;
    border-radius: 10px;
}

.menuItem div {
    margin: 5px;
    display: inline-block;
}

.itemName {
    font-weight: bold;
    text-align: center;
    width: 75%;
}

.itemDescription {
    font-style: italic;
    width: 75%;
}

.itemPrice {
    font-weight: bold;
    width: 20%;
    text-align: center;
}

.menuItem .ctaWrapper {
    width: 20%;
    margin: 10px 0;
}

.menuItem .cta {
    margin: 0;
}

/* Cart */

#cart {
    text-align: center;
    margin: 30px;
    background-color: #d0d0d0;
    padding: 20px;
    border-radius: 10px;
}

.noItemsWrapper {
    margin: 30px;
    background-color: #c5bdf3;
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 0 #000;
    display: inline-block;
}

.productItem {
    padding: 10px;
    margin: 10px;
    background-color: #948b8b;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 0 #000;
}

.productHeader div {
    display: inline-block;
    margin: 0 10px;
    font-weight: bold;
    box-sizing: border-box;
}

.productNameHeader {
    width: 60%;
    padding-left: 30px;
    text-align: left;
}

.productNumberHeader {
    width: 15%;
}

.productTotalPriceHeader {
    width: 15%;
}

.productItem div {
    display: inline-block;
    margin: 0 10px;
}

.productName {
    font-weight: bold;
    width: 60%;
    text-align: left;
}

.productNumber {
    width: 15%;
}

.productNumber i {
    cursor: pointer;
}

.productTotalPrice {
    width: 15%;
    font-weight: bold;
}

.totalPrice {
    margin-top: 30px;
    font-weight: bold;
}

/* Notification */
#notification {
    position: fixed;
    top: calc(50vh - 30px);
    left: calc(50vw - 150px);
    width: 300px;
    text-align: center;
    font-weight: bold;
    background-color: #de6161;
    border-radius: 10px;
    padding: 10px 30px;
    line-height: 30px;
    box-shadow: 5px 5px 30px 5px #000;
    box-sizing: border-box;
}