<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{head.title}</title>
        <meta charset="utf8" />
        <meta name="description" content="{head.description}" />
        <meta name="author" content="{main.author}" />
        <base href="{main.baseUrl}" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" />
        <link type="text/css" rel="stylesheet" href="public/main.css" />
        <link type="image/x-icon" rel="icon" href="favicon.ico?" /> 
        <script type="text/javascript" src="public/app.js"></script>
    </head>
    <body id="{body.id}">
        <div class="container">
            <header>
                <a class="logo" href='/'><img src="public/logo.png" alt="logo" /></a>
                <nav>
                    <ul>
                        <li><a href="/" >Home</a></li>
                        <li class="loggedIn"><a href="account/edit" >Settings</a></li>
                        <li class="loggedIn"><a href="menu" >Menu</a></li>
                        <li class="loggedIn"><a href="cart" >Cart</a></li>
                        <li class="loggedOut"><a href="session/create" >Login</a></li>
                        <li class="loggedOut"><a href="account/create" >Signup</a></li>
                        <li class="loggedIn"><a id="logOut" href="#" >Logout</a></li>
                    </ul>
                </nav>
            </header>
            <div class="content">
         