<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{head.title}</title>
        <meta charset="utf8" />
        <meta name="description" content="{head.description}" />
        <meta name="author" content="{main.author}" />
        <base href="{main.baseUrl}" />
        <link type="text/css" rel="stylesheet" href="public/main.css" />
        <script type="text/javascript" src="public/app.js"></script>
    </head>
    <body class="{body.class}">
        <header>
            <a class="logo" href='/'><img class="logo" src="public/logo.jpg" alt="logo" /></a>
            <nav>
                <ul>
                    <li><a href="/" >Home</a></li>
                </ul>
            </nav>
        </header>
        <div class="content">
         